i{
    cursor: pointer;
}
button[disabled]:hover {
  cursor:no-drop;
}
.successimage{
    width:105px;
    height:105px;
   margin-left: 200px ;
   margin-top:15px;
  margin-bottom:15px;
  
  }
  .contentstyle{
    margin-left: 60px;
   font-size: 18px;
   font-family: "Poppins", sans-serif!important;
   margin-top:15px;
  margin-bottom:15px;
  }
  .contentstyle1{
    margin-left: 73px ;
   font-size: 18px;
   font-family: "Poppins", sans-serif!important;
   margin-top:15px;
  margin-bottom:15px;
  }
  .deletefootstyle{
    /* text-align: center; */
    margin-top:15px;
    margin-bottom:15px;
    padding-left: 170px;
    /* padding-right: 20px; */
  }
  .blue-ink
  {
  background: #7e120e;
  }
  .blue-link-heading
  {
    color:#7e120e;

  }
